body{
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgb(192, 132, 248)
}
.container{
    background-color: rgb(192, 132, 248);
    color: rgb(192, 132, 248);
    height: 15vh;
    background-image: url(logo\ trança\ 2.jpg);
    background-repeat: no-repeat;
}
.container .containertexto h1{
    margin: 0;
    font-size: 50px;
    padding-left: 60px;
    padding-top: 30px;
    text-align: center;
}
.unidade{
    background-color: rgb(192, 132, 248);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unidadetexto p{
    font: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.unidade img{
    width: 300px;
    height: 300px;
}
.titulo{
    text-align: center;
}
h1{
    color: black;
}
.titulo{
    background-color: rgb(192, 132, 248);
}