body{
    max-width: 4000px;
    margin: 0 auto;
    background-color: rgb(192, 132, 248)
}
.Caixa{
    background-color: rgb(192, 132, 248);
    color: rgb(192, 132, 248);
    margin: 0;
   
}
.Caixa .containertexto h1{
    margin: 0;
    font-size: 50px;
    padding-left: 60px;
    padding-top: 30px;
    text-align: center;
}
.unidade{
    background-color: rgb(192, 132, 248);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unidadetexto p{
    font: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.unidade img{
    width: 300px;
    height: 300px;
}
.titulo{
    text-align: center;
}
h1{
    color: black;
}
.titulo{
    background-color: rgb(192, 132, 248);
    padding: 0;
    margin: 0;
}
.video{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    background-color: rgb(192, 132, 248)
}